.main {
    width: 100%;
}
.left {
    width: 34%;
    height: 350px;
    background-color: #ffffff;
    float: left;
    margin-left: 10%;
    border: 1px solid;
    border-radius: 5px;
    border-color: #E3E3E3;
}
.left_search{
    width: 100%;
    height: 36px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 10%;
    height: 1000px;
    margin: 1%;
    background-color: #ffffff;
    text-align: center;
    float: left;

}
.center button {
    display: block;
    width: 100%;
}
.right {
    width: 34%;
    height: 350px;
    background-color: #ffffff; 
    float: left;
    margin-right: 10%;
    border: 1px solid;
    border-radius: 5px;
    border-color: #E3E3E3;
}
.right_search{
    width: 100%;
    height: 36px;
    margin: 0;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
}
.input {
    border: 1px solid black;
    border-radius: .3em;
    padding: .25em;
    width: 7em;
}
select {
    margin-left: .3rem;
}